<div class="container">
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema Web</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Cadastrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/consultar">Consultar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br />
  <div class="row">
    <div class="col">
      <div class="container">
        <h5 class="mb-4">Atualizar - Agendamento de Potenciais Clientes</h5>
        <h6 class="mb-4">Sistema utilizado para agendamento de serviços</h6>
        <form>
          <label for="inputNome">Nome:</label>
          <input type="text" name="nome" id="inputNome" class="form-control mb-4" />
          <label for="inputTelefone">Telefone:</label>
          <input
            type="text"
            name="telefone"
            id="inputTelefone"
            class="form-control mb-4"
          />
          <label for="selectOrigem">Origem:</label>
          <select class="form-select mb-4" aria-label="Origem" id="selectOrigem">
            <option selected>Selecione uma opção</option>
            <option value="celular">Celular</option>
            <option value="email">E-mail</option>
            <option value="social">Rede social</option>
          </select>
          <label for="inputDataContato">Data do Contato:</label>
          <input
            type="date"
            name="dataContato"
            id="inputDataContato"
            class="form-control mb-4"
          />
          <label for="textareaObs">Observação</label>
          <textarea class="form-control mb-4" id="textareaObs" rows="3"></textarea>
          <button type="submit" class="btn btn-primary mb-3">Atualizar</button>
        </form>
      </div>
    </div>
  </div>
</div>